.nav{
    font-size: 24px;
    font-weight: 600;
}
.nav_list{
    display: flex;
    gap: 20px;
}
.inactive{
    color: #6d1c8f;
}

.active {
    color: #6d1c8f7a  !important;
    border-bottom: 2px solid rgb(7, 158, 58);
}